<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap@5.3.0-alpha1/bootstrap.css">
    <link rel="stylesheet" href="/libs/bootstrap-icons@1.10.2/bootstrap-icons.css">
    <link rel="stylesheet" href="/pages/account/account.css">
    <title>Aperoland - Profil</title>
</head>
<body data-bs-theme="auto">
    {{{svg}}}
    {{{navbar}}}

    <main class="flex-shrink-0">
        <div class="container mt-4">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <form action="/app/account/change-info" class="needs-validation" method="post" novalidate>
                        {{#if error-account-info}}
                            <div class="alert alert-danger" role="alert"> {{error-account-info}} </div>
                        {{/if}}

                        <div class="input-group mb-3 mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-person"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Nom d'utilisateur" value="{{userData.username}}" name="username" required>
                            <div class="invalid-feedback">
                                Veuillez renseigner un nom d'utilisateur
                            </div>
                        </div>

                        <div class="input-group mb-3 mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-envelope"></i>
                            </span>
                            <input type="email" class="form-control" placeholder="Email" name="email" value="{{userData.email}}" required>
                            <div class="invalid-feedback">
                                Veuillez renseigner une adresse mail
                            </div>
                        </div>

                        <button class="w-100 btn btn-md btn-primary" type="submit">Enregistrer</button>
                    </form>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <form action="/app/account/change-password" class="needs-validation" method="post" novalidate>
                        <div class="input-group mb-3 mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-lock"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="Ancien mot de passe" aria-label="Ancien mot de passe" name="password" required>
                            <div class="invalid-feedback">
                                Veuillez renseigner votre ancien mot de passe
                            </div>
                        </div>

                        <div class="input-group mb-3 mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-lock"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="Nouveau mot de passe" aria-label="Nouveau mot de passe" name="newPassword" required>
                            <div class="invalid-feedback">
                                Veuillez renseigner un nouveau mot de passe
                            </div>
                        </div>

                        <div class="input-group mb-3 mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-lock"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="Confirmation nouveau mot de passe" aria-label="Confirmation nouveau mot de passe" name="newPasswordConfirm" required>
                            <div class="invalid-feedback">
                                Veuillez renseigner une confirmation de nouveau mot de passe
                            </div>
                        </div>

                        <button class="w-100 btn btn-md btn-primary" type="submit">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <script src="/libs/bootstrap@5.3.0-alpha1/bootstrap.bundle.js"></script>
    <script src="/libs/bootstrap@5.3.0-alpha1/form-validity.js"></script>
    <script src="/libs/bootstrap@5.3.0-alpha1/color-mode.js"></script>
    <script src="/libs/socket.io@4.5.4/socket.io.min.js"></script>
    <script>
        const socket = io();
    </script>
</body>
</html>