<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap@5.3.0-alpha1/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-icons@1.10.2/bootstrap-icons.css">
    <link rel="stylesheet" href="/libs/leaflet@1.9.3/leaflet.css">
    <link rel="stylesheet" href="/libs/tom-select@2.2.2/tom-select.css">
    <link rel="stylesheet" href="/pages/event/event.css">
    <title>Aperoland - {{eventName}}</title>
</head>
<body>
    {{{navbar}}}

    <main class="flex-shrink-0">
        <div class="container">
            <div class="text-center">
                <h3 class="">{{eventName}}</h3>
                <span>Description : </span>
                <span class="fst-italic">{{description}}</span>
                <br>
                <span>organisé par : </span>
                <span class="fst-italic">{{organizer}}</span>
                <br>
                <span>Le {{date}} à {{time}}</span>
                {{#if isOrganizer}}
                    <br>
                    <span>Code : </span>
                    <span class="fst-italic" id="uuid">{{uuid}}</span>
                    <button type="button" class="btn btn-primary" id="copyEventCode">
                        <i class="bi bi-clipboard-check"></i>
                    </button>
                {{/if}}
                <br>
                <a href="{{calendar}}" target="_blank" rel="noopener noreferrer">Télécharger l'évenement</a>
            </div>

            {{#if isOrganizer}}
                <div class="btn-group mt-5" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" id="editEventBtn">Modifier l'apéro</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#">Supprimer l'apéro</button>
                </div>
            {{/if}}

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 table-responsive">
                <table class="table mt-2">
                    <thead>
                        {{#if isOrganizer}}
                            <th scope="col">#</th>
                        {{/if}}
                        <th scope="col">Participants</th>
                        <th scope="col">Email</th>
                    </thead>
                    <tbody>
                        {{#if participants}}
                            {{#each participants}}
                                <tr>
                                    {{#ifEquals status 'Organizer'}}
                                        {{#if ../isOrganizer}}
                                            <td></td>
                                        {{/if}}
                                        <td>
                                            <i class="bi bi-star"></i>
                                            {{username}}
                                        </td>
                                    {{/ifEquals}}
                                    {{#ifEquals status 'Participant'}}
                                        {{#if ../isOrganizer}}
                                            <td>
                                                <button type="button" class="btn btn-danger btn-delete" data-user="{{idUser}}" data-event="{{idEvent}}">
                                                    <i class="bi bi-person-x" data-user="{{idUser}}"></i>
                                                </button>
                                            </td>
                                        {{/if}}
                                        <td class="username">{{username}}</td>
                                    {{/ifEquals}}
                                    <td>{{email}}</td>
                                </tr>
                            {{/each}}
                        {{else}}
                            <td>Aucun participant</td>
                        {{/if}}
                    </tbody>
                </table>
            </div>
            <div class="mb-3" id="map"></div>
        </div>
    </main>

    {{{editEvent}}}
    {{{deleteEvent}}}
    {{{deleteUser}}}

    <script src="/libs/bootstrap@5.3.0-alpha1/bootstrap.bundle.min.js"></script>
    <script src="/libs/leaflet@1.9.3/leaflet.js"></script>
    <script src="/libs/tom-select@2.2.2/tom-select.complete.min.js"></script>
    <script src="/libs/axios/axios.min.js"></script>
    <script src="/pages/app/app.js"></script>
    <script>
        const app = new App;
        app.leafletMap('map', {{latitude}}, {{longitude}}, `{{eventName}}`);
        app.modalsSelect(document.querySelector('#editEvent').querySelector('#address'));
    </script>
    {{#if isOrganizer}}
        <script src="/pages/event/event.js"></script>
        <script>
            const eventManager = new EventManager;
            eventManager.deleteUserButton();
            eventManager.editEventButton({{idEvent}});
            eventManager.copyEventCodeButton();
        </script>
    {{/if}}
</body>
</html>