<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap@5.2.3/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-icons@1.10.2/bootstrap-icons.css">
    <link rel="stylesheet" href="/pages/login/login.css">
    <title>Aperoland</title>
</head>
<body class="text-center">
    {{{navbar}}}

    <main class="flex-shrink-0 form-signin w-100 m-auto">
        <form action="/login" method="post">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Connexion</h1>

            {{#if success}}
                <div class="alert alert-success" role="alert"> {{success}} </div>
            {{/if}}

            {{#if warning}}
                <div class="alert alert-warning" role="alert"> {{warning}} </div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-warning" role="alert"> {{error}} </div>
            {{/if}}

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                <label for="floatingInput">Adresse mail</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">{{{projectName}}} &copy; {{{currentYear}}}</p>
        </form>
    </main>

    <script src="/libs/bootstrap@5.2.3/bootstrap.bundle.min.js"></script>
</body>
</html>